<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/img/white_logo.png" class="img-responsive" alt="logo" style="margin-top:-25px;"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <ul class="nav navbar-nav">
                            <li><a href="/" class="page-scroll">Home</a></li>
                            <li><a href="/review" class="page-scroll">Give a Review</a></li>
                            <li><a href="/restaurant" class="page-scroll">Add Your Business</a></li>
                        </ul>
                    </div>
                </div>
            </div>
</nav>
<section id="restaurant_info">
        <div class="row" id="header">
            <div class="col-md-6" id="restaurant_image">
                 <img id="imgSize" src="/img/restaurant.jpg"/>
            </div>
            <div class="col-md-6" id="about">
                <h3><strong>{{restaurant.restaurantName}}</strong></h3>
                <h6>{{restaurant.phone }}</h6>
                <h6><a>{{restaurant.website}}</a></h6>
                <h6>Cuisine: &nbsp; {{restaurant.cuisine }}</h6>
                <h6>Address: &nbsp; {{restaurant.location }}</h6>
                <h6>{{restaurant.about }}</h6>
                </br>
            </div> 
        </div>  
        <div id="Menu">
<!--         for(int i = 0; i < restaurant.items.length; i++){
            var current;
            var category[restaurant.items.length];
            if(restaurant.items.category[i] != current)
                render(current);    } -->
            <p id="section-title">Menu</p>
                <!-- {{#each restaurant.items}}
                    <p>{{item}}</p>
                {{/each}} -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h4 style="text-align:left; font-weight:bold;">Noodles</h4>
                </div>
            </div>
            <div class = "col-md-3"></div>
            <div class="item_box col-md-6">
                <div data-toggle="collapse" data-target="#item">
                    <h5>Pork Ramen
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-chevron-down" aria-hidden="true"></i></h5>
                </div>
                <div id="item" class="collapse">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation </p>
                        </div>
                        <div class="col-md-6">
                            <img id="dish_img" src="/img/ramen.jpg"/>
                        </div>
                    </div> <!-- row -->
                    <hr>
                    <p>comment_1</p>
                    <hr>
                    <p>comment_1</p>
                </div><!--  item -->
                
            </div>
            <div class = "col-md-3"></div>
        </div>  
</section>
